<header>
  <div class="header-logo">
    <a href="/">LureDoctor</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">LureDoctorとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>LureDoctorとは</h2>
  <p>
    ルアーレビューサービスです。
    ユーザーのルアー（釣り用の擬似餌）の口コミサイト、
    他のユーザーの評価や使用方を見て自分の釣果に繋げるためのコンテンツです。
  </p>
</div>