<header>
  <div class="header-logo">
    <a href="/">LureDoctor</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">LureDoctorとは</a>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>LureDoctor</h2>
    <p>ルアーの口コミサイト</p>
  </div>
</div>